@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

@charset "utf-8";
.my-navbar {
    border-radius: 0;
    background-color: white;
}

.my-logo {
    margin-top:5px;
}

.my-today {
    background-color: #96cde9;
}

.receipt-header {
    border-bottom: 1px;
}

.my-row {
    height: 56px;
}

.spanInTab {
    color: white;
    margin: 0px;
    padding: 15px;
    text-align: right;
}

.inputForm {
    margin: 0px;
    padding: 11px;
}

.my-search-button {
    background-color: #ffcc01;
}

.my-search-button:hover {
    background-color: #F2C20E;
}

.navbar-inverse .navbar-brand {
    font-size: 48px;
    color: #ffcc01;
    font-weight: bolder;
}

.navbar-inverse .navbar-brand:hover {
    font-size: 48px;
    font-weight: bolder;
}

a.navbar-brand {
    margin-top:0px;
    line-height: 40px;
}
