<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Seltex</strong>
                </h4>
                <p><b>Москва</b>
                  <br>6-я Радиальная, 16
                    <br>Индекс: 115404</p>
                <ul class="list-unstyled">
                  <li class="contacts-list" style="font-weight:bold; color:darkred;"><i class="fa fa-phone fa-fw"></i>+7 499 288-07-10</li>
                </ul>
                <p><b>Санкт-Петербург</b>
                  <br>Московское шоссе, 231 к. 5
                    <br>Индекс: 196627</p>
                <ul class="list-unstyled">
                  <li class="contacts-list" style="font-weight:bold; color:darkred;"><i class="fa fa-phone fa-fw"></i>+7 812 320-52-10</li>
                </ul>

                <p>Бесплатный звонок по всей России:</p>
                <ul class="list-unstyled">
                  <li class="contacts-list" style="font-weight:bold; color:darkred;"><i class="fa fa-phone fa-fw"></i>8-800-550-52-10</li>
                </ul>

                <ul class="list-unstyled">
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:sales@seltex.ru">sales@seltex.ru</a>
                    </li>
                    <li><i class="fa fa-skype fa-fw"></i>pro-diesel</li>
                    <li>
                        <img src="https://wwp.icq.com/scripts/online.dll?icq=616856441&amp;img=5" alt="ICQ" width="24" height="24">
                        <span> 616856441</span>
                    </li>
                </ul>
                <br>

                <hr class="small">
                <p class="text-muted">Copyright &copy; www.seltex.ru 2018</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
