<footer id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
              <address>
              <strong>Seltex</strong><br>
                115404, Москва<br>
                6-я Радиальная, 16<br>
                196627, Санкт-Петербург<br>
                Московское шоссе, 231 к. 5<br>
                <abbr title="Phone">Телефоны:</abbr>
                  +7 (499) 288-07-10<br>
                  +7 (812) 320-52-10<br>
                  8 800 550-52-10<br>
                <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:sales@seltex.ru">sales@seltex.ru</a><br>
                <i class="fa fa-skype fa-fw"></i>pro-diesel</li><br>
                <img src="https://wwp.icq.com/scripts/online.dll?icq=616856441&amp;img=5" alt="ICQ" width="16" height="16">
                <span> 616856441</span><br>
              </address>

                <hr class="small">
                <p class="text-muted">Copyright &copy; www.seltex.ru 2019</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>
<script>
        (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn.bitrix24.ru/b7947395/crm/site_button/loader_2_bogczz.js');
</script>
