<footer id="contact"  style="font-size: 16px;">
    <div class="">
        <div class="row">
            <div class="col-lg-12 text-center">
              <div class="col-md-6">
                <section class="map">
                    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=55.607950,37.658678
                    &center=55.607950,37.658678
                    &zoom=12
                    &key=AIzaSyDUC12nb9QjtvAGwwraeuBrBLDD9gmDwoU"></iframe>
                    <br/>
                    <small>
                        <a href="https://www.google.com/maps/embed/v1/place?q=55.607950,37.658678&center=59.761528,30.474268&key=AIzaSyDUC12nb9QjtvAGwwraeuBrBLDD9gmDwoU"></a>
                    </small>
                </section>
                <address>
                  <div itemscope itemtype="http://schema.org/Organization">
                    <br/>
                    Контакты <span itemprop="name">Seltex Москва</span><br/>
                    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                      Адрес:
                      <span itemprop="postalCode"> 115404</span>
                      <span itemprop="addressLocality">Москва</span>,
                      <span itemprop="streetAddress">6-я Радиальная, 16</span><br/>
                    </div>
                    Телефоны: <span itemprop="telephone">+7 (499) 288-07-10</span>,
                    <span itemprop="telephone">8 800 550-52-10</span><br/>
                    <i class="far fa-envelope"></i><span itemprop="email"> sales@seltex.ru</span>
                    <i class="fab fa-skype"></i> pro-diesel
                    <img src="https://wwp.icq.com/scripts/online.dll?icq=456201946&amp;img=5" alt="ICQ" width="16" height="16">
                    <span> 456201946</span><br>

                  </div>
                  </address>
                </div>
                <div class="col-md-6">
                  <section class="map">
                      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=59.761528,30.474268
                      &center=59.761528,30.474268
                      &zoom=11
                      &key=AIzaSyDUC12nb9QjtvAGwwraeuBrBLDD9gmDwoU"></iframe>
                      <br/>
                      <small>
                          <a href="https://www.google.com/maps/embed/v1/place?q=59.761528,30.474268&center=59.761528,30.474268&key=AIzaSyDUC12nb9QjtvAGwwraeuBrBLDD9gmDwoU"></a>
                      </small>
                  </section>
                  <address>
                    <div itemscope itemtype="http://schema.org/Organization">
                      <br/>
                      Контакты <span itemprop="name">Seltex Санкт-Петербург</span><br/>
                      <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        Адрес:

                        <span itemprop="postalCode"> 196627</span>
                        <span itemprop="addressLocality">Санкт-Петербург</span>,
                        <span itemprop="streetAddress">Московское шоссе, 231 к. 5</span>

                      </div>
                      Телефоны:
                      <span itemprop="telephone">+7 (812) 320-52-10</span>,
                      <span itemprop="telephone">8 800 550-52-10</span><br/>
                      <i class="far fa-envelope"></i><span itemprop="email"> sales@seltex.ru</span>
                      <i class="fab fa-skype"></i> pro-diesel
                      <img src="https://wwp.icq.com/scripts/online.dll?icq=616856441&amp;img=5" alt="ICQ" width="16" height="16">
                      <span> 616856441</span><br>

                    </div>
                    </address>
                  </div>

                  <h5 class="text-muted">Seltex Вконтакте: <a style="font-size: 22px;" href="https://vk.com/club5567084" class="fab fa-vk"></a></h5>
                  <h5 class="text-muted">Seltex Instagram: <a style="font-size: 22px;" href="https://www.instagram.com/seltex.ru" class="fab fa-instagram"></a></h5>

                <hr class="small">
                <p class="text-muted" style="font-size: 12px;">Copyright &copy; www.seltex.ru 2019</p>
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    <button style="position: fixed; bottom: 15px; right:66px; background-color: #4babe6; color: white; font-size:20px; border-radius:15px; border:0px;" class="b24-web-form-popup-btn-6"><i class="fa fa-phone"></i></button>
</footer>
<!-- <script id="bx24_form_button" data-skip-moving="true">
        (function(w,d,u,b){w['Bitrix24FormObject']=b;w[b] = w[b] || function(){arguments[0].ref=u;
                (w[b].forms=w[b].forms||[]).push(arguments[0])};
                if(w[b]['forms']) return;
                var s=d.createElement('script');s.async=1;s.src=u+'?'+(1*new Date());
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://seltex.bitrix24.ru/bitrix/js/crm/form_loader.js','b24form');

        b24form({"id":"6","lang":"ru","sec":"rfyl4d","type":"button","click":""});
</script> -->
<script>
        (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn.bitrix24.ru/b7947395/crm/site_button/loader_2_bogczz.js');
</script>
<!-- GetButton.io widget -->
<script type="text/javascript">
  (function () {
      var options = {
          whatsapp: "+79111623076", // WhatsApp number
          call_to_action: "WhatsApp", // Call to action
          position: "left", // Position may be 'right' or 'left'
      };
      var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
      s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
      var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
  })();
</script>
<!-- /GetButton.io widget -->